{% extends 'base.html.twig' %}

{% block body %}
    {# S'il y a une erreur, on l'affiche #}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('form_login_check') }}" method="post">
        <label for="username">Login :</label>
        <input type="text" id="username" name="_username" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />
        <br />

        <input type="submit" value="Connexion" />
    </form>
{% endblock %}